<div class="card-header">Welcome To The Calorie Tracker</div>
<div class="btn-group">
  <%= link_to "Sign Up", new_user_path, class: "btn btn-primary" %>
  <%= link_to "Log In", '/login', class: "btn btn-primary"%>
</div>
