<div class="card-header"><%= @user.name %>'s meals</div>
<% @meals.each do |meal| %>
<div>
  <p><%= meal.food_quantity %><%= link_to meal.food_item.name.pluralize(meal.food_quantity), user_meal_path(@user, meal) %></p>
</div>
<% end %>
<div>
  <%= link_to "Back", user_path(@user) %>
</div>
