<% if flash[:notice] %>
<%= content_tag :div, flash[:notice] %>
<% end %>
<h1>Editing <%= @food_item.name %></h1>
<%= render partial: "form", locals: {food_item: @food_item, action: "update", button_text: "Edit"} %>
