<div class="card-header">All Foods</div>

<div class="food-items-list">

</div>
<div class="btn-group">
  <%= link_to "Add a Food Item", new_food_item_path, class: "btn btn-primary" %>
  <%= link_to "See what everyone's been eating", '/meals/eaten_today', class: "btn btn-primary" %>
</div>
