<% if flash[:notice] %>
<%= content_tag :div, flash[:notice] %>
<% end %>
<% if @food_item.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@food_item.errors.count, "error") %>
      prohibited this item from being saved:
    </h2>

    <ul>
    <% @food_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class="card-header">New Food Item:</div>
<%= render partial: "form", locals: {food_item: @food_item, action: "create", button_text: "Create Food Item"} %>
